.App {
  text-align: center;
  margin: 100px auto;
}

.errorMessage {
  margin: 10px auto;
  color: red;
}

.successMessage {
  margin: 10px auto;
  color: green;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table th {
  font-weight: bold;
}

.custom-table tbody tr:hover {
  background-color: #f5f5f5;
}

.errorMessage1 {
  color: red;
  margin: 0 auto;
  text-align: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.links {
  display: flex;
  margin-right: 50px;
  justify-content: end;
  gap: 30px;
  list-style: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-fields label {
  margin-bottom: 5px;
}

.form-fields input {
  padding: 5px;
}

.form-submit {
  margin-top: 10px;
}